.edit-page {
  margin: 50px 0;
  font-size: 20px;
  line-height: 22px;
  * {
    margin-bottom: 5px;
  }
  .edit-page__title {
    font-size: 22px;
    font-weight: 500;
  }
  .edit-page__button {
    display: inline-block;
    padding: 5px 10px;
    margin: 20px 20px 0 0;
    width: 180px;
    height: 35px;
    color: white;
    background-color: #2f80ed;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
}
