<div class="container">
   <button class="back__button" routerLink="/boards">{{'welcome.boardButton' | translate}}</button>
   <div class="edit-page">
      <h3 class="edit-page__title">{{'editProfilePage.title' | translate}}</h3>
      <div>{{'editProfilePage.name' | translate}} {{ authData.name }}</div>
      <div>{{'editProfilePage.email' | translate}} {{ authData.login }}</div>
      <button class="edit-page__button"  (click)="openEditForm()">{{'editProfilePage.editButton' | translate}}</button>
      <button class="edit-page__button" (click)="openConfirmDialog()">{{'editProfilePage.deleteButton' | translate}}</button>
   </div>
</div>

