.edit-page {
  margin: 50px 0;
  font-size: 20px;
  line-height: 22px;
  color: #1e7df9;
  * {
    margin-bottom: 5px;
  }
  .edit-page__title {
    font-size: 22px;
    font-weight: 500;
  }
  .edit-page__button {
    display: inline-block;
    padding: 5px 10px;
    margin: 20px 20px 0 0;
    width: 180px;
    height: 50px;
    color: white;
    background-color: #2f80ed;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
}
.back__button {
  display: inline-block;
  padding: 5px 10px;
  margin: 20px 0 0 0;
  width: 150px;
  height: 45px;
  color: white;
  background-color: rgb(221, 0, 111);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}