<div class="container">
<button (click)="openDialogCreateBoard()" class="button-add">{{ 'boards.addBoardButton' | translate }}</button>

<div class="boards-container" *ngIf="(boards$ | async) as board; else loading">
  <div
    id={{boards.id}}
    class="board-card"
    *ngFor="let boards of boards$ | async"
    matTooltip="{{ 'boards.tooltips.openBoard' | translate }}"
    >
    <div (click)="goToBoardsEdit(boards.id)" class="board-card__title" >
      <h2>{{boards.title}}</h2>
      <p>{{boards.description}}</p>
    </div>
    <button class="delete-card-button" (click)="openDialogDeleteBoard(boards.id)">
      {{ 'boards.delBoardButton' | translate }}
    </button>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
</div>