.dialog__title {
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}


.logOutModal {
  background-color: transparent !important;
  max-width: none !important;
}

::ng-deep mat-dialog-container {
  background-color: #1d69e2 !important;
}

mat-dialog-container {
  background-color: transparent !important;
}