<form class="form" [formGroup]="formGroup" (submit)="onSubmit()">
  <div class="form__title">
    Please, enter new profile data
  </div>
  <h3 class="form__field-title">name</h3>
  <input class="form__field-input" formControlName="name" name="name" id="name" type="text">
  <div class="error-container">
    <div *ngIf="_name.invalid && (_name.touched || _name.dirty || _name.untouched)">
      <span class="message" *ngIf="_name.errors?.['required']">Please enter your name</span>
      <span class="message" *ngIf="_name.errors?.['minlength']">At least 3 characters</span>
      <span class="message" *ngIf="_name.errors?.['maxlength']">No more then 12 characters</span>
    </div>
  </div>

  <h3 class="form__field-title">email</h3>
  <input class="form__field-input" formControlName="login" name="login" id="login" type="text">
  <div class="error-container">
    <div *ngIf="_login.invalid && (_login.touched || _login.dirty || _login.untouched)">
      <span class="message" *ngIf="_login.errors?.['required']">Please enter your email</span>
      <span class="message" *ngIf="_login.errors?.['email']">This email is invalid</span>
    </div>
  </div>

  <h3 class="form__field-title">password</h3>
  <input class="form__field-input" formControlName="password" name="password" id="password" type="text">
  <div class="error-container">
    <div *ngIf="_password.invalid && (_password.touched || _password.dirty || _password.untouched)">
      <span class="message" *ngIf="_password.errors?.['required']">Please enter your password</span>
      <span class="message" *ngIf="_password.errors?.['validateUpperCase'] && _password.dirty">
        At least one uppercase letter</span>
      <span class="message" *ngIf="_password.errors?.['validateLowerCase'] && _password.dirty">
        At least one lowercase letter</span>
      <span class="message" *ngIf="_password.errors?.['validateNumbers'] && _password.dirty">
        At least one number</span>
      <span class="message" *ngIf="_password.errors?.['validateSpecial'] && _password.dirty">
        At least one special character (#?!@$%^&*-)</span>
      <span class="message" *ngIf="_password.errors?.['minlength']">At least 8 characters</span>
    </div>
  </div>

  <mat-dialog-actions align="center">

    <button class="form__submit" [mat-dialog-close] [disabled]="formGroup.invalid" type="submit">Confirm</button>
    <button class="form__submit" mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>

</form>