<form class="form" [formGroup]="formGroup" (submit)="onSubmit()">
  <div class="form__title">
    {{ 'modals.updateProfile.title' | translate }}
  </div>
  <h3 class="form__field-title">{{ 'form.name.name' | translate }}</h3>
  <input class="form__field-input" formControlName="name" name="name" id="name" type="text">
  <div class="error-container">
    <div *ngIf="_name.invalid && (_name.touched || _name.dirty || _name.untouched)">
      <span class="message" *ngIf="_name.errors?.['required']">{{ 'form.name.enter' | translate }}</span>
      <span class="message" *ngIf="_name.errors?.['minlength']">{{ 'form.name.minLengthErr' | translate }}</span>
      <span class="message" *ngIf="_name.errors?.['maxlength']">{{ 'form.name.maxLengthErr' | translate }}</span>
    </div>
  </div>

  <h3 class="form__field-title">email</h3>
  <input class="form__field-input" formControlName="login" name="login" id="login" type="text">
  <div class="error-container">
    <div *ngIf="_login.invalid && (_login.touched || _login.dirty || _login.untouched)">
      <span class="message" *ngIf="_login.errors?.['required']">{{ 'form.email.enter' | translate }}</span>
      <span class="message" *ngIf="_login.errors?.['email']">{{ 'form.email.emailErr' | translate }}</span>
    </div>
  </div>

  <h3 class="form__field-title">{{ 'form.password.password' | translate }}</h3>
  <div class="form__input-wrap">
    <input class="form__field-input password" formControlName="password" name="password" id="password" [type]="show ? 'text' : 'password'">
    <button (click)="toggleVisibility($event)" [class]="show? 'show' : 'hide'"></button>
  </div>
  <div class="error-container">
    <div *ngIf="_password.invalid && (_password.touched || _password.dirty || _password.untouched)">
      <span class="message" *ngIf="_password.errors?.['required']">{{ 'form.password.enter' | translate }}</span>
      <span class="message" *ngIf="_password.errors?.['validateUpperCase'] && _password.dirty">
        {{ 'form.password.upperCaseErr' | translate }}</span>
      <span class="message" *ngIf="_password.errors?.['validateLowerCase'] && _password.dirty">
        {{ 'form.password.lowerCaseErr' | translate }}</span>
      <span class="message" *ngIf="_password.errors?.['validateNumbers'] && _password.dirty">
        {{ 'form.password.numberErr' | translate }}</span>
      <span class="message" *ngIf="_password.errors?.['validateSpecial'] && _password.dirty">
        {{ 'form.password.specialErr' | translate }}</span>
      <span class="message" *ngIf="_password.errors?.['minlength']">{{ 'form.password.lengthErr' | translate }}</span>
    </div>
  </div>

  <mat-dialog-actions align="center">

    <button class="form__submit" [mat-dialog-close] [disabled]="formGroup.invalid" type="submit"> {{
      'modals.updateProfile.confirm' | translate }}</button>
    <button class="form__submit" mat-button mat-dialog-close> {{ 'modals.updateProfile.cancel' | translate }}</button>
  </mat-dialog-actions>

</form>