<div  class="dialog">
  <h3 class="dialog__title">{{ modalData.message  | translate}}</h3>
    <mat-dialog-actions align="center">
      <button 
        class="dialog__button"
        mat-button 
        [mat-dialog-close]="true"
        type="button"
        (click)="actionFunction()">
        {{ modalData.actionButtonText | translate }}
    </button>

      <button 
        class="dialog__button"
        mat-button
        mat-dialog-close
        (click)="closeModal()">
        {{ modalData.cancelButtonText | translate }}
    </button>
    </mat-dialog-actions>
</div>
