<footer>
  <div class="container footer">
    <div class="footer__school">
      <a class="footer__school-link" target="_blank" href="https://rs.school/js/"><img class="footer__school-logo"
          src="../../assets/svg/rss.svg" alt=""></a>
    </div>
    <ul class='footer__dev'>
      <li class='dev__item'><a class='dev__link' href="http://github.com/lisaliza6428" target="_blank">lisaliza6428</a>
      </li>
      <li class='dev__item'><a class='dev__link' href="https://github.com/SiarheiTamkovich" target="_blank">SiarheiTamkovich</a></li>
    </ul>
    <div class="footer__year">2022</div>
  </div>
</footer>
