html,
body {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

input:-webkit-autofill{
  -webkit-text-fill-color: blue !important;
}

//Styles for modal windows (must be global)

.editProfileForm {
  mat-dialog-container {
    background-color: white !important;
    width: 460px !important;
    height: auto !important;
    border-radius: 10px !important;
  }
}

.confirmForm {
  mat-dialog-container {
    background-color: #1d69e2 !important;
  }
}
